<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>特征选择算法平台</title>

  <!--icheck-->
  <link href="../static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="../static/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="../static/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="../static/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="../static/css/clndr.css" rel="stylesheet">


  <!--common-->
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="{{ url_for('home.index') }}"><img src="../static/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="{{ url_for('home.index') }}"><img src="../static/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="{{ url_for('home.index') }}"><i class="fa fa-book"></i> <span>数据集管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('home.dataset_infor') }}"> 数据集信息</a></li>
                        <li><a href="{{ url_for('home.dataset_upload') }}"> 数据集上传</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>特征选择算法</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('home.nefs') }}">邻域熵特征选择算法</a></li>
                        <li><a href="{{ url_for('home.qssafs') }}">量子樽海鞘特征选择算法</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>分类实验</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('home.svm') }}">SVM</a></li>
                        <li><a href="{{ url_for('home.rf') }}">Random Forest</a></li>
                        <li><a href="{{ url_for('home.knn') }}">KNN</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('home.user_infor', user=current_user.name) }}"><i class="fa fa-sign-in"></i> <span>用户信息管理</span></a></li>
                <li><a href="{{ url_for('home.logout') }}"><i class="fa fa-sign-in"></i> <span>登出</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

<!--            toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu"></ul>
                <p style="font-size: 25px; text-align: left"> 你好，{{current_user.name}} </p>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        <div class="page-heading">
            <h3>
                平台简介
            </h3>
        </div>


        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
            <div class="col-md-8">
            <section class="panel">
                <header class="panel-heading">
                    主要功能 <span class="text-muted">简述</span>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>

                         </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>数据集上传</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>注意事项</h3>
                            <p class="muted">
                                平台默认处理数据集格式为.mat以及.csv文件，上传前请完成数据集的预处理。
                            </p>
                            <p class="text-warning">
                                成功上传的数据集可以在数据集信息页面查看。
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>特征选择实验</h3>
                            <p class="lead">
                                基于邻域熵以及二进制量子樽海鞘算法的特征选择算法
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>Tips</h3>
                            <p>
                                选取已经上传的数据集。本实验均采用有监督的模型，数据集和类标需要统一选取， 如果不匹配，请检查并重新上传
                            </p>
                            <p>
                                考虑到实验的运行时常问题，内置Celery分布式任务队列进行后台调度
                            </p>
                            <p>
                                但是任然建议执行单次任务
                            </p>
                        </div>
                    </div>
                    <hr>
                                        <div class="row">
                        <div class="col-md-6">
                            <h3>分类实验</h3>
                            <p class="lead">
                                采用SVM, Random Forest, KNN作为默认分类器
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3>Tips</h3>
                            <p>
                                选取已经上传的数据集，数据集和类标需要统一选取，如果不匹配，请检查并重新上传
                            </p>
                            <p class="text-warning">
                                测试集比例在0到1的区间内选取
                            </p>
                            <p>
                                提供选取特征子集进行分类实验，可以根据特征选择实验的结果，或者自定义来获取OA和KC值，并返回每个类的分类精度。
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Address</h3>
                            <div class="well">
                                <address>
                                    <strong>ThemeBucket</strong><br>
                                    Pudong New Area<br>
                                    Shanghai, Chnia <br>
<!--                                    <abbr title="Phone">P:</abbr> (123) 456-7890 -->
                                </address>
                                <address>
                                    <strong>Luka Zhai</strong><br>
                                    <a href="mailto:/#/">
                                        lukadongcici@163.com
                                    </a>
                                    <br>
                                    <br>
                                </address>
                            </div>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                            <h3>希望提出宝贵的意见</h3>-->
<!--                            <p>-->
<!--                                您宝贵的意见是我持续改进的动力-->
<!--                            </p>-->
<!--                            <hr>-->
<!--                            <h4> Alignments </h4>-->
<!--                            <p class="text-left">-->
<!--                                Left aligned text.-->
<!--                            </p>-->
<!--                            <p class="text-center">-->
<!--                                Center aligned text.-->
<!--                            </p>-->
<!--                            <p class="text-right">-->
<!--                                Right aligned text.-->
<!--                            </p>-->
<!--                        </div>-->
                    </div>
                    <hr>
                </div>
            </section>
        </div>
        </div>
        </div>
    </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2021 &copy; SouthwestJiaotong University
        </footer>
        <!--footer section end-->


    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/modernizr.min.js"></script>
<script src="../static/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="../static/js/easypiechart/jquery.easypiechart.js"></script>
<script src="../static/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="../static/js/sparkline/jquery.sparkline.js"></script>
<script src="../static/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="../static/js/iCheck/jquery.icheck.js"></script>
<script src="../static/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="../static/js/flot-chart/jquery.flot.js"></script>
<script src="../static/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="../static/js/flot-chart/jquery.flot.resize.js"></script>
<script src="../static/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="../static/js/flot-chart/jquery.flot.selection.js"></script>
<script src="../static/js/flot-chart/jquery.flot.stack.js"></script>
<script src="../static/js/flot-chart/jquery.flot.time.js"></script>
<script src="../static/js/main-chart.js"></script>

<!--common scripts for all pages-->
<script src="../static/js/scripts.js"></script>


</body>
</html>
