<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>特征选择算法平台</title>

  <!--icheck-->
  <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/static/css/clndr.css" rel="stylesheet">


  <!--common-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="{{ url_for('home.index') }}"><img src="../static/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="{{ url_for('home.index') }}"><img src="../static/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="index.html"><i class="fa fa-book"></i> <span>数据集管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('home.dataset_infor') }}"> 数据集信息</a></li>
                        <li><a href="{{ url_for('home.dataset_upload') }}"> 数据集上传</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>特征选择算法</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('home.nefs') }}">邻域熵特征选择算法</a></li>
                        <li><a href="{{ url_for('home.qssafs') }}">量子樽海鞘特征选择算法</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>分类实验</span></a>

                </li>
                <li class="active"><a href="{{ url_for('home.user_infor', user=current_user.name) }}"><i class="fa fa-fa-book"></i> <span>用户信息管理</span></a></li>
                <li><a href="{{ url_for('home.logout') }}"><i class="fa fa-sign-in"></i> <span>登出</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

<!--            toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu"></ul>
                <p style="font-size: 25px; text-align: left"> 你好，{{current_user.name}} </p>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                当前用户: {{ user.name }}
            </h3>
            {% if user.last_seen %}<p>上次登录: {{ user.last_seen }}</p>{% endif %}
        </div>
        <!-- page heading end-->


        <!--body wrapper start-->
        <div class="wrapper">

        </div>

        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2021 &copy; SouthwestJiaotong University
        </footer>
        <!--footer section end-->



    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/static/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/js/iCheck/jquery.icheck.js"></script>
<script src="/static/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/js/flot-chart/jquery.flot.js"></script>
<script src="/static/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/js/flot-chart/jquery.flot.resize.js"></script>
<script src="/static/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="/static/js/flot-chart/jquery.flot.selection.js"></script>
<script src="/static/js/flot-chart/jquery.flot.stack.js"></script>
<script src="/static/js/flot-chart/jquery.flot.time.js"></script>
<script src="/static/js/main-chart.js"></script>

<!--common scripts for all pages-->
<script src="/static/js/scripts.js"></script>


</body>
</html>
